<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name=" Reg_Suite">
  <test name="Round-1">
    <classes>
      <class name="testNGExamples.Example1"/>
      <class name="testNGExamples.Example2"/>
      <class name="testNGExamples.Example3"/>
      <class name="testNGExamples.Example4"/>
      <class name="testNGExamples.Example5"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
